<div class="form-group">
  <label>Name</label>
  <%= f.text_field :name, required: true, class: 'form-control'%>
</div>
<div class="form-group">
  <label>IP</label>
  <%= f.text_field :ip, required: true, class: 'form-control'%>
</div>
<div class="form-group">
  <label>SSH User</label>
  <%= f.text_field :ssh_user_name, required: true, class: 'form-control'%>
</div>
<div class="form-group">
  <label>SSH PrivateKey Pfad</label>
  <%= f.text_field :ssh_key_path, required: true, class: 'form-control'%>
</div>

<div class="form-group">
  <label>SSH Port</label>
  <%= f.text_field :ssh_port, required: false, class: 'form-control'%>
</div>